# Dependencies
node_modules
pnpm-lock.yaml

# Build outputs
dist
build
*.local

# Environment
.env.local
.env.*.local
.dev.vars

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Misc
.wrangler
